head
	title= httpCode
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Inconsolata:400,700")
	link(rel="stylesheet", href="/megasoft85/fonts/stylesheet.css")
	link(rel="stylesheet", href="/error.css")
	meta(name="viewport", content="width=device-width")
		
body
	h2= httpCode
	pre= err.message
	if err.stack
		pre= err.stack