mixin drawTagLink(tag)
	a(class=("tagSwitcher spec" + (tags[tag].colour || "_undefined")), tag=tag, href= "?" + tag)
		svg(symbol="tag", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 117 62")
			use(xlink:href="#tag")
		=tags[tag].desc


mixin drawThumbnail(pid)
	- var proj = allProjects.filter(function(x) { return (x.id == pid) })[0];
	- var transform = "scale(" + proj.thumb.zoomFactor + ") translate(" + proj.thumb.xOffset + "px, " + proj.thumb.yOffset + "px)";
	div.thumbnailContainer
		img.thumbnail(src = proj.thumb.path, style="transform: " + transform + "; -moz-transform: " + transform + "; -webkit-transform: " + transform + "; -ms-transform:" + transform)

mixin drawTagSwitcher(tag, pid, label)
	a.tagSwitcher(tag = tag, href = "?" + tag)
		+drawThumbnail(pid)
		= label

doctype html
html
	head
		title Richard Welsh

		link(rel="stylesheet", media="screen", href="rw.css")
		
		meta(name="description", content="Information and Graphic Design portfolio of work by Richard Welsh")
		meta(name="google-site-verification", content="w07pytBZ1nalutRwly43hfH7lJju2Hq3Otzq-3mlZ3s")
		meta(name="viewport", content="user-scalable=no")

		link(rel="shortcut icon", href="http://www.welshdesign.co.uk/favicon.ico")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="js/jquery.ui.touch-punch.min.js")
		script(src="js/mousetrap.min.js")
		script(src="rw.js")

	body#main(class=(Object.keys(request.query)==0 ? "intro" : null))

		// analytics.php goes here

		svg(style="display: none", xmlns="http://www.w3.org/2000/svg")
			defs
				g(id="tag", transform="translate(117,62) rotate(180)")
					path(d="M92.728,3.716C90.888,1.672,87.132,0,84.382,0H5C2.25,0,0,2.25,0,5v51.403c0,2.75,2.25,5,5,5h79.382 c2.75,0,6.506-1.672,8.346-3.716l20.949-23.27c1.84-2.044,1.84-5.388,0-7.432L92.728,3.716z M87.593,39.909 c-5.086,0-9.207-4.121-9.207-9.207c0-5.085,4.121-9.208,9.207-9.208s9.207,4.122,9.207,9.208 C96.8,35.788,92.679,39.909,87.593,39.909z")
				g(id="email")
					path(d="M80.388,0H2.842C1.272,0,0,1.272,0,2.842v45.792c0,1.57,1.272,2.843,2.842,2.843h77.545c1.569,0,2.843-1.272,2.843-2.843V2.842C83.23,1.272,81.957,0,80.388,0z M41.615,24.418L9.892,5.685h63.446L41.615,24.418z M40.17,30.166l1.445,0.854l1.445-0.854L77.545,9.803v35.99H5.685V9.802L40.17,30.166z")
				g(id="phylactere")
					path(d="M107.407,11.321C95.569,4.021,79.902,0,63.292,0S31.013,4.021,19.175,11.321C6.81,18.947,0,29.266,0,40.375c0,10.527,6.386,22.343,19.947,29.521l-6.865,16.532l-3.188,7.676l7.719-3.084L46.76,79.374c5.674,1.03,10.572,1.376,16.532,1.376c16.611,0,32.278-4.021,44.116-11.321c12.366-7.626,19.176-17.944,19.176-29.054S119.773,18.947,107.407,11.321z M63.292,73.7c-5.542,0-11.02-0.484-16.282-1.438l-0.99-0.18l-0.934,0.373l-22.351,8.931l4.869-11.726l1.223-2.943l-2.818-1.492C13.928,58.881,7,49.806,7,40.375C7,21.972,32.252,7,63.292,7c31.04,0,56.292,14.972,56.292,33.375S94.331,73.75,63.292,73.75z")

		// inline symbols for cloning by JavaScript
		#symbolOriginals
			svg(symbol="tag", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 117 62")
				use(xlink:href="#tag")
			svg(symbol="phylactere", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 128 95")
				use(xlink:href="#phylactere")
			svg(symbol="email", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="-1 -1 95 53", style="fill: white")
				use(xlink:href="#email")

		#debug

		#topBar
			#tagMenu
				+drawTagLink("poster")
				+drawTagLink("print")
				+drawTagLink("invite")
				+drawTagLink("card")
				+drawTagLink("brand")
				+drawTagLink("web")
				+drawTagLink("carto")

		#viewport
			#titleBox(itemscope="true", itemtype="http://data-vocabulary.org/Person")
				.myName(itemprop="name") Richard Welsh
				.myTitle(itemprop="role") Information and graphic design
				.myContact
					a(href="mailto:richard@welshdesign.co.uk")
						svg(symbol="email", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="-1 -1 95 53", style="fill: white")
							use(xlink:href="#email")
						= "richard@welshdesign.co.uk"

			// drawIntro() will go here
			#intro.centered
				#introDog
					img(src="avatar/avatar-075.png", alt="Richard Welsh")
				
				p Hello! Here’s a portfolio of my design work. Please choose a tag from above or a link from below to start exploring.
				
				div.starterLinks
					+drawTagSwitcher("web", "icc_web", "Web design")
					+drawTagSwitcher("poster", "dont_look_now", "Posters")
					+drawTagSwitcher("print", "jazzNo1", "Print")
					+drawTagSwitcher("mices", "mices_brand", "Mices")
					+drawTagSwitcher("brand", "windmill_datahost", "Brand design")
					+drawTagSwitcher("invite", "cocktail_party", "Invitations")
					+drawTagSwitcher("icc", "icc_brand", "ICC")
					+drawTagSwitcher("card", "xmas_2012", "Cards")
					+drawTagSwitcher("carto", "mices_map", "Cartography")

				div(style="clear: both")

				.myName Richard Welsh
				.myTitle Information and graphic design
				.myContact(style="float: right")
					a(href="mailto:richard@welshdesign.co.uk")
						svg(symbol="email", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg", viewBox="-1 -1 95 53", style="fill: white")
							use(xlink:href="#email")
						= "richard@welshdesign.co.uk"

			#dog
				img(src="avatar/avatar-075.png", alt="Richard Welsh")

			img#leftButton(src="left.png")
			img#rightButton(src="right.png")

			#canvas
				unless (Object.keys(request.query) == 0)
					- var filter = (Object.keys(request.query))[0];
					each project in allProjects
						if (project.tags.indexOf(filter) > -1) || (project.skills.indexOf(filter) > -1)
							div.projectDiv(pid = project.id)
								!= project.content
								div.projectInfo
									span.label= project.label
									span.year= ", " + project.dates[0] + (project.dates[1] ? "–" + project.dates[0] : "")
									div.capsuleDesc!= project.capsuleDesc
									div.tags
										//- a.commentsLink
											//- svg(symbol="phylactere", class="inlineSymbol", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 95")
												//- use(xlink:href="#phylactere")
											//- = "Comments"
										each tag in project.tags
											+drawTagLink(tag)

					