doctype html
html
	head
		title Richard Welsh – Portfolio
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet", href="/base.css")
		link(rel="stylesheet", href="/portfolio_masonry.css")
		link(rel="stylesheet", href="/portfolio_masthead.css")
		link(rel="stylesheet", href="/project_specific.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js")
		script.
			var initialTag = "featured";
		script(src="/portfolioNew.js")
	body
		include portfolioBody.jade
		div#masthead
			span#logo
				a(href="/portfolio") œ
			div#headings
				h1
					a(href="/portfolio") Richard Welsh
				h2 Information and graphic design
				//- if (tag && tag != "best")
				//- 	span(class="tag spec" + tags[tag].colour)= tags[tag].desc
		div#main
			div#viewport.masonry
				div#debug
				div#margins
					div#canvas
						each datum in data.sort(function (a, b) { return a.sortBy == b.sortBy ? 0 : +(a.sortBy > b.sortBy) || -1; })
							a(href="/portfolio/projects/" + datum.id)
								div.project(id=datum.id, class=(datum.doubleWidth ? "doubleWidth" : "singleWidth")) !{datum.homeContent || datum.content}
									div.label= datum.label
		include portfolioFooter.jade
