include projectModules.pug

-
	// finds other projects which share tags with this project that aren't "best" or "featured"
	var relatedProjects = project.projectsSameTag
		.filter(pst => {
			if (pst.id == project.id)
				return false;
				
			var commonTags = pst.tags.filter(otherTag => 
				otherTag != "best" && otherTag != "featured" &&
				project.tags.indexOf(otherTag) > -1
			)
			return commonTags.length > 0
		})

doctype html
html
	head
		title= "Richard Welsh: " + project.title
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet", href="/base.css")
		link(rel="stylesheet", href="/portfolio_masthead.css")
		//- link(rel="stylesheet", href="/portfolio_project.css")
		link(rel="stylesheet", href="/portfolio.css")
		link(rel="stylesheet", href="/project_specific.css")
		link(rel="stylesheet", href="/PhotoSwipe/photoswipe.css")
		link(rel="stylesheet", href="/PhotoSwipe/default-skin/default-skin.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js")
		script(src="/portfolioNew.js")
		script(src="/project_specific.js")
		script(src="/PhotoSwipe/photoswipe.js")
		script(src="/PhotoSwipe/photoswipe-ui-default.js")
	body
		div#masthead
			span#logo 
				a(href="/portfolio") œ
			div#headings
				h1 
					a(href="/portfolio") Richard Welsh
				h2 Developer and designer

		div#main.project
			div#viewport
				div#debug
				div#margins
					div.project-article(id = project.id)
						+mainContent(project)
						div.text
							div.headline
								span.label= project.label
								span.dates= project.dates[0] + (project.dates[1] ? ("–" + project.dates[1]) : "")
							if (project.capsuleDescPug)
								div.capsule-desc 
									!= pugRenderer(project.capsuleDescPug)
									span.end-mark: a(href="/portfolio") &#339;
							else
								div.capsule-desc !{project.capsuleDesc}
									span.end-mark: a(href="/portfolio") &#339;
							div.tags 
								| Tagged:
								=" "
								each tag in project.tagObjs
									+tagLink(tag, true)
									=" "
								br
								| Made with:
								=" "
								each sk in project.skillObjs
									+skillLink(sk, true)
									=" "

					h4.collection-title Related projects
					
					div#tiled-area(style="clear: both")
						div.sub-group.doubleWidth
							each otherProj in relatedProjects.filter(d => (d.doubleWidth == true)).sort(sortChronologically)
								+projectTile(otherProj, {type: "relatedTo", id: project.id})
						each otherProj in relatedProjects.filter(d => !(d.doubleWidth == true)).sort(sortChronologically)
							+projectTile(otherProj, {type: "relatedTo", id: project.id})

		include portfolioFooter.jade
		div#backstage
		include photoswipe.jade
