meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
link(rel="stylesheet", href="/base.css")
link(rel="stylesheet", href="/portfolio_masonry.css")
link(rel="stylesheet", href="/portfolio_masthead.css")
link(rel="stylesheet", href="/project_specific.css")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
script(src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js")
