doctype html
html
	head
		title Portfolio tag index
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/base.css")
	body
		p Tags
		ul
			each datum in data
				li
					a(href="/portfolio/tags/#{datum}")= datum