doctype html
html
	head
		title Portfolio Index
		link(rel="stylesheet", href="/base.css")
		link(rel="stylesheet", href="/portfolio.css")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="/js/jquery.ui.touch-punch.min.js")
		script(src="/portfolio.js")
	body
		div#viewport
			div#nav
				a(href="/portfolio") Index
			div#debug
			div#canvas
				each datum in data
					div.project(pid=datum.id)
						!{datum.content}	
