doctype html
html
	head
		title Portfolio skill index
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/base.css")
	body
		p Skills
		ul
			each datum in data
				li
					a(href="/portfolio/skills/#{datum}")= datum