include projectModules.pug

mixin aboutBlock(selected)
	div.block.about(class = selected ? ['selected'] : []) 
		span.leader About me
		span.body.row
			img.mugshot(src="/me.png")
			div I have over 20 years’ experience in web and digital media design with a spectrum of skills ranging from server-side coding through interface design to page layout and typography.

mixin skillsetBlock(selected)
	div.block.skillset(class = selected ? ['selected'] : [])
		//- span.leader I use these languages, platforms and tools for my projects
		span.leader Skillset
		span.body
			each sk in skills
				if (sk.type != "skill" && sk.current && sk.headline)
					+skillLink(sk, true)
					=" "

mixin tagBlock(selected)
	div.block.tagset(class = selected ? ['selected'] : []) 
		span.leader Project tags
		span.body
			each tag in objectSort(tags, d => d.order)
				+tagLink(tag, true)
				=" "

doctype html
html
	head
		title Richard Welsh
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet", href="/base.css")
		link(rel="stylesheet", href="/portfolio_masthead.css")
		//- link(rel="stylesheet", href="/portfolio_masonry.css")
		link(rel="stylesheet", href="/portfolio.css")
		link(rel="stylesheet", href="/project_specific.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js")
		script(src="/js/elementsfrompoint.js")
		script(src="/portfolioNew.js")
		if (context)
			script.
				var context = !{JSON.stringify(context)};

	body
		div#masthead
			span#logo
				a(href="/portfolio") œ
			div#headings
				h1
					a(href="/portfolio") Richard Welsh
				h2 Developer and designer

		div#main.home
			div#viewport
				div#debug
				div#margins
					div#intro.layout-wide
						//- img.mugshot(src="/me.png")
						+aboutBlock()
						+skillsetBlock()
						+tagBlock()
					div#intro.layout-medium
						//- img.mugshot(src="/me.png")
						+aboutBlock()
						.stack
							+skillsetBlock()
							+tagBlock(true)
					div#intro.layout-narrow
						//- img.mugshot(src="/me.png")
						.stack
							+aboutBlock(true)
							+skillsetBlock()
							+tagBlock()


					if (context.type == "tags") && tags[context.id]
						h4.collection-title Projects tagged
							=" "
							+tagLink(tags[context.id], true)

					else if (context.type == "skills") && skills[context.id]
						h4.collection-title Projects made using 
							=" "
							+skillLink(skills[context.id], true)
					else
						h4.collection-title(style="display: none") BOO

					div#tiled-area(style="clear: both")
						div.sub-group.doubleWidth
							each project in arraySortDesc(projects.filter(d => (d.doubleWidth == true)), d => firstYear(d))
								+projectTile(project, context)
						each project in arraySortDesc(projects.filter(d => !(d.doubleWidth == true)), d => firstYear(d))
							+projectTile(project, context)

		include portfolioFooter.jade
		div#backstage
