doctype html
html
	head
		title Portfolio Index
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/base.css")
	body
		p Projects
		ul
			each datum in data
				li
					a(href="/portfolio/projects/#{datum.id}/content")= datum.label