-
	function lastYear(proj) {
		if (proj.dates) {
			if (proj.dates.length == 2)
				return proj.dates[1]; // (proj.dates[1] + proj.dates[0]) / 2;
			else
				return proj.dates[0];
		}
		else
			return 1971;
	}

	function firstYear(proj) {
		if (proj.dates) {
			return proj.dates[0];
		}
		else
			return 1971;
	}

	function arraySort(array, selector) {
		return array.sort((a, b) => selector(a) == selector(b) ? 0 : +(selector(a) > selector(b)) || -1)
	}

	function arraySortDesc(array, selector) {
		return array.sort((a, b) => selector(a) == selector(b) ? 0 : +(selector(a) < selector(b)) || -1)
	}

	function objectSort(object, selector) {
		return arraySort(Object.keys(object).map(i => object[i]), selector)
	}
	
	function sortChronologically(a, b) {
		return firstYear(a) == firstYear(b) ? 0 : +(firstYear(a) < firstYear(b)) || -1
	}

	function sortBySortOrder(a, b) {
		return a.sortBy == b.sortBy ? 0 : +(a.sortBy > b.sortBy) || -1
	}



mixin skillLink(sk, useAnchorTag)
	if (useAnchorTag)
		a.skill.switcher(class=sk.type, href="/portfolio/skills/" + sk.skill, data-id=sk.skill)= sk.label
	else
		span.skill.switcher(class=sk.type, data-id=sk.skill)= sk.label

mixin tagLink(t, useAnchorTag)
	if (useAnchorTag)
		a.tag.switcher(class="spec" + t.colour, href="/portfolio/tags/" + t.tag, data-id=t.tag)= t.label
	else
		span.tag.switcher(class="spec" + t.colour, data-id=t.tag)= t.label


mixin thumbnail(proj)
	div.thumbnailContainer
		a(href="/portfolio/projects/" + proj.id)
			if (proj.thumb)
				img.thumbnail(src="/" + proj.thumb.path, style="transform: translate(" + Math.floor(proj.thumb.xOffset * proj.thumb.zoomFactor) + "px, " + Math.floor(proj.thumb.yOffset * proj.thumb.zoomFactor) +"px) scale(" + proj.thumb.zoomFactor + ")")
			else
				img.thumbnail(src="/backgrounds/texture1.png")

mixin projectTile(proj, context)
	- var tagClasses = proj.tags.map(x => "tag-" + x);
	- var skillClasses = proj.skills.map(x => "skill-" + x);
	a.project-tile(
		class= tagClasses.concat(skillClasses).concat((proj.doubleWidth ? "doubleWidth" : "singleWidth")), 
		id=proj.id, 
		href="/portfolio/projects/" + proj.id + (context ? ("?contextType=" + context.type + "&contextId=" + context.id) : "")
		)
		div.card
			+homeContent(proj)
			div.text
				div.label
					if (proj.title)
						span.title= proj.title
					= proj.label
				if (proj.showSkills && proj.skillObjs)
					div.label.skills-list= "Made using "
						each sk in proj.skillObjs
							+skillLink(sk)
							=" "
				div.date= proj.dates[0] + (proj.dates.length == 2 ? ("–" + proj.dates[1]) : "")

mixin homeContent(proj)
	if (proj.homeContentPug)
		!= pugRenderer(proj.homeContentPug)	
	else if (proj.contentPug)
		!= pugRenderer(proj.contentPug)
	else
		!= (proj.homeContent || proj.content)

mixin mainContent(proj)
	if (proj.contentPug)
		!= pugRenderer(proj.contentPug)
	else
		!= proj.content