include projectModules.pug

-
	let skillSet = allSkills ? allSkills.map(s => s.skill) : project.skills;
	let projectSet = allProjects ? allProjects : project.projectsSameSkill;
	let projectMatrix = projectSet.map(proj =>
		({
			otherProjId: proj.id,
			skillMap: skillSet.map(skill => 
				proj.skills.includes(skill)
			)
		})
	)

doctype html
html
	head
		title= project ? project.title : "All projects"
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel="stylesheet", href="/base.css")
		style.
			th {
				text-align: left;
			}
			td {
				text-align: center;
			}
			table, th, td {
				border: 1px solid grey;
				border-collapse: collapse
			}

	body#margins
		h2= project ? project.title : "All projects"

		//- pre(style="white-space: pre-wrap")= skillSet
		//- pre(style="white-space: pre-wrap")= JSON.stringify(projectSet)

		table(style="border: 1px")
			thead
				tr
					th
					each skill in skillSet
						th= skill
			tbody
				each proj in projectMatrix
					tr
						th= proj.otherProjId
						each node in proj.skillMap
							td= (node ? "•" : "")