@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600");

@import url("/fonts/AGRW/stylesheet.css");
/*
@import url("/fonts/fontie-package/AGRW Med.css");*/



body {
	font: 12pt/15pt 'Roboto', sans-serif;
	background: url(/backgrounds/wavegrid_dark.png);
	margin: 0;
}

#main {
	padding-top: 1px;
	background: url(/backgrounds/wavegrid_dark.png);
	padding-bottom: 3em;
}

p, li {
	margin: 6pt 0;
}

.fixedLayoutContainer {
	position: relative;
}

.fixedLayoutContainer img {
	position: absolute;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

#masthead a {
	text-decoration: none;
}

#margins {
	margin-left: 3em;
	margin-right: 3em;
}

@media only screen and (max-width: 1460px) {
	#margins {
		margin-left: 2.5em;
		margin-right: 2.5em;
	}
}

@media only screen and (max-width: 768px) {
	#margins {
		margin-left: 1.8em;
		margin-right: 1.8em;
	}
}

@media only screen and (max-width: 515px) {
	#margins {
		margin-left: 1em;
		margin-right: 1em;
	}
}

#viewport h3 {
	font-weight:normal;
	font-family: AGRW;
	text-align: center;
	margin-bottom:  0;
	color:  hsl(0, 0%, 50%);
}

#footer {
	border-top: 1px solid #CCC;
	font-size: 85%;
	color: #555;
	padding-top: 1.5em;
	padding-left: 4.5em;
	padding-right: 4.5em;
	padding-bottom: 3em;
}

@media only screen and (max-width: 1460px) {
	#footer {
		padding-left: 3.7em;
		padding-right: 3.7em;
	}
}

@media only screen and (max-width: 768px) {
	#footer {
		padding-left: 3.2em;
		padding-right: 3.2em;
	}
}

@media only screen and (max-width: 515px) {
	#footer {
		padding-left: 2.75em;
		padding-right: 2.75em;
	}
}

.email, .tel {
	display: block;
	padding-top: 0.3em;
}

.email::before {
	font-family: 'AGRW';
	content: '\2709  ';
}

.tel::before {
	font-family: 'AGRW';
	content: '\1f57d  ';
	font-size: 120%
}

.cycler {
	position: relative;
}

.cycler img {
	position: absolute;
	z-index: -1;
}

.cycler img.active {
	z-index: 3;
}

.thumbnailContainer {
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.thumbnail {
	position: relative;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform: 0 0;
}
