
#viewport {
/* 	border: 1px solid orange;
	display: inline-block; */
}


#tiled-area, .proj-collection {
	margin-left: auto;
	margin-right: auto;
}

#backstage {
	display: none;
}

.dual-panel {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.dual-panel .proj-collection {
	display: table-cell;
}

.dual-panel .proj-collection:first-child {
	width: 530px;
}

.project-tile {
	position: relative;
	width: 250px;
	margin: 15px;
	padding: 0;
	display: block;
}

.project-tile .card {
	background-color: white;
	border-radius: 0.4em;
	/* float: left; */
	box-sizing: border-box;
	overflow: hidden;
	border: 2px solid rgb(228, 228, 228);
	position: relative;
}

.incoming .card {
	opacity: 0;
	top: 80px;
	z-index: 100;
}

a.project-tile {
	text-decoration: none;
}

.doubleWidth {
	width: 530px;
}

@media only screen and (max-width: 630px) {
	.project-tile, .project-tile.doubleWidth {
		width: 200px;
	}
}

@media only screen and (max-width: 515px) {
	.project-tile, .project-tile.doubleWidth {
		width: 300px;
	}
}

@media only screen and (max-width: 375px) {
	.project-tile, .project-tile.doubleWidth {
		width: 250px;
	}
}

a.project-tile .card:hover {
	border-color: rgb(247, 153, 16);
}

.project-tile .text {
	font-size: 80%;
	color: hsl(0, 0%, 40%);
	border-top: 1px solid hsl(0, 0%, 75%);	
}

.project-tile .label, .project-tile .date {
	padding: 12px 14px 8px 14px;
}

.project-tile .label + .label {
	padding-top: 0;
}

.project-tile .date {
	padding: 6px 14px 6px 14px;
	color: hsl(0, 18%, 53%);
	border-top: 1px solid hsl(0, 0%, 90%);
}

.project-tile .label .title {
	font-weight: bold;
	color: hsl(0, 0%, 20%);
	padding-right: 0.5em;
}

.skills-list {
	line-height: 2;
}

.switcher {
	white-space: nowrap;
}

a.switcher {
	text-decoration: none;
}

.switcher:hover {
	background-color: white;
}

.project-tile .switcher:hover {
	background-color: hsl(0, 0%, 90%)
}

.skill {
	border: 1px solid hsl(0, 0%, 80%);
	padding: 0.1em 0.35em;
	white-space: nowrap;
	border-radius: 0.2em;
}

.skill.lang {
	color: hsl(120, 30%, 35%);
	border-color: hsl(120, 30%, 80%);
}

.skill.platform {
	color: hsl(271, 30%, 35%);
	border-color: hsl(271, 30%, 80%);
}

.skill.preproc {
	color: hsl(0, 30%, 48%);
	border-color: hsl(0, 30%, 85%);
}

.skill.framework {
	color: hsl(38, 60%, 37%);
	border-color: hsl(38, 60%, 80%);
}

.skill.library {
	color: hsl(191, 60%, 37%);
	border-color: hsl(191, 60%, 80%);
}

.skill.app, skill.tool {
	color: hsl(63, 60%, 24%);
	border-color: hsl(63, 60%, 80%);
}

.skill.hardware {
	color: hsl(249, 60%, 26%);
	border-color: hsl(249, 60%, 85%);
}

.scaleThis {
	position: absolute;
	transform-origin: top left;
	-ms-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	/* max-width: 250px; */
	/* box-sizing: content-box; */
}

img.bordered {
	border-left: 1px solid hsl(0, 0%, 75%);
}