#canvas {
	margin-top: 6em;
}


/* project articles */

.project-article {
	/* margin-left: 4.5em;
	margin-right: 4.5em; */
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5em;
	margin-bottom: 5em;
	line-height: 1.6;
	position:  relative;
}

/* .scaleThis {
	position: absolute;
	/* transform-origin: top left; */
	-ms-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	/* max-width: 250px; */
	/* box-sizing: content-box; */
} */

.project-article .visual {
	/* max-width: 700px; */
}

.project-article .text {
	/* padding-bottom: 3em; */
	max-width: 30em;
}

.project-article .text hr {
	border: none;
}

.project-article .text .headline {
	margin-bottom: 0.9em;
}

.project-article .text .label {
	font-weight: bold;
}

.project-article .text .label:after {
	content: ', ';
	font-weight: normal;
}

.project-article .img-caption {
	opacity: 0.7;
	position: relative;
	top: 0.25em;
}

.project-article .text .label:before, .project-article .img-caption:before {
	content: '↑ ';
	font-weight: normal;
	font-family: "AGRW";
	font-size: 120%;
}

.horiz-layout .text .label:before {
	content: '← ';
}

.horiz-layout .visual {
	display: table-cell;
	/* vertical-align: bottom; */
}

.horiz-layout .text {
	display: table-cell;
	vertical-align: bottom;
	padding-left: 3em;
	padding-bottom: 25px;
	/* top: 200px; */
}

.vert-layout .text {
	width: 60%;
	padding-top: 3em;
}

.horiz-layout .visual {
	padding-bottom: 3em;
}

/* @media only screen and (max-width: 1460px) {
	.project-article {
		margin-left: 3.7em;
		margin-right: 3.7em;
	}
} */

@media only screen and (max-width: 768px) {
	/* .project-article {
		margin-left: 3.2em;
		margin-right: 3.2em;
	} */

	.vert-layout .text {
		width: 80%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 515px) {
	/* .project-article {
		margin-left: 2.75em;
		margin-right: 2.75em;
	} */

	.vert-layout .text {
		width: 100%;
		max-width: 100%;
	}

}

.quote {
	display: block;
}

.quote:before {
	content: '“ ';
	top: 0.4em;
}

.quote:after {
	content: ' ”';
	top: 0.4em;
}

.quote:before, .quote:after {
	font-size: 300%;
	line-height: 0.1;
	position: relative;
	color: hsl(0, 0%, 40%);
}

.end-mark {
	font-family: AGRW;
	border: 0.15em solid #9E9E9E;
	margin-left: 0.5em;
	font-size: 80%;
	padding: 0.3em 0.2em;
	border-radius: 0.3em;
	color: #9E9E9E;
	cursor: pointer;
}

.end-mark a {
	text-decoration: none;
}

.end-mark:hover {
	color: white;
	background-color: rgb(247, 153, 16);
	border-color: rgb(247, 153, 16);
}

.tags {
	margin-top: 2em;
	padding: 1em 0;
	border-top: 0.1em solid #9E9E9E;
	/* border-radius: 0.3em; */
	color: #666;
	font-size: 90%;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	line-height: 2.5;
}


/* misc */

h4 {
	margin: 35px 15px 15px 15px;
	border-top: 3px solid #9E9E9E;
	padding-top: 20px;
}

/* masonry */

/* Centre it on the home page only */
#main.home #tiled-area {
	margin-left: auto;
	margin-right: auto;
}

#backstage {
	display: none;
}

.dual-panel {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.dual-panel .proj-collection {
	display: table-cell;
}

.dual-panel .proj-collection:first-child {
	width: 530px;
}

.project-tile {
	position: relative;
	width: 206px;
	margin: 15px;
	padding: 0;
	display: block;
}

.project-tile .card {
	background-color: white;
	border-radius: 0.4em;
	/* float: left; */
	box-sizing: border-box;
	overflow: hidden;
	border: 2px solid rgb(228, 228, 228);
	position: relative;
}

.incoming .card {
	opacity: 0;
	top: 80px;
	z-index: 100;
}

a.project-tile {
	text-decoration: none;
}

.doubleWidth {
	width: 443px;
}

@media only screen and (max-width: 630px) {
	.project-tile, .project-tile.doubleWidth {
		width: 200px;
	}
}

@media only screen and (max-width: 515px) {
	.project-tile, .project-tile.doubleWidth {
		width: 300px;
	}
}

@media only screen and (max-width: 375px) {
	.project-tile, .project-tile.doubleWidth {
		width: 250px;
	}
}

a.project-tile .card:hover {
	border-color: rgb(247, 153, 16);
}

.project-tile .text {
	font-size: 80%;
	color: hsl(0, 0%, 40%);
	border-top: 1px solid hsl(0, 0%, 75%);	
}

.project-tile .label, .project-tile .date {
	padding: 12px 14px 8px 14px;
}

.project-tile .label + .label {
	padding-top: 0;
}

.project-tile .date {
	padding: 6px 14px 6px 14px;
	color: hsl(0, 18%, 53%);
	border-top: 1px solid hsl(0, 0%, 90%);
}

.project-tile .label .title {
	font-weight: bold;
	color: hsl(0, 0%, 20%);
	padding-right: 0.5em;
}

.skills-list {
	line-height: 2;
}


/* switcher links */


a.switcher {
	text-decoration: none;
}

.skill.switcher:hover {
	background-color: white;
}

.project-tile .switcher:hover {
	background-color: hsl(0, 0%, 90%)
}

.switcher {
	padding: 0.1em 0.35em;
	white-space: nowrap;
	border-radius: 0.2em;
	margin: 0.1em;
	line-height: 2;
}

.skill.switcher {
	border: 1px solid hsl(0, 0%, 80%);
}

.skill.switcher:hover {
	background-color: white;
}

.project-tile .skill.switcher:hover {
	background-color: hsl(0, 0%, 90%)
}

.tag.switcher {
	color: hsla(0, 0%, 100%, 0.80);
	padding: 0.2em 0.5em 0.15em 0.5em;
}

.tag.switcher:hover {
	background-color: hsl(0, 0%, 50%);
}

.skill.lang {
	color: hsl(120, 30%, 35%);
	border-color: hsl(120, 30%, 80%);
}

.skill.platform {
	color: hsl(271, 30%, 35%);
	border-color: hsl(271, 30%, 80%);
}

.skill.preproc {
	color: hsl(0, 30%, 48%);
	border-color: hsl(0, 30%, 85%);
}

.skill.framework {
	color: hsl(38, 60%, 37%);
	border-color: hsl(38, 60%, 80%);
}

.skill.library {
	color: hsl(191, 60%, 37%);
	border-color: hsl(191, 60%, 80%);
}

.skill.app, skill.tool {
	color: hsl(63, 31%, 37%);
	border-color: hsl(63, 25%, 63%);
}

.skill.hardware {
	color: hsl(249, 60%, 26%);
	border-color: hsl(249, 60%, 85%);
}

/* tags */
.tag.spec0 { background-color: hsl(0, 70%, 30%); border-color: hsl(0, 70%, 30%)}
.tag.spec1 { background-color: hsl(30, 70%, 30%); border-color: hsl(30, 70%, 30%)}
.tag.spec2 { background-color: hsl(60, 70%, 30%); border-color: hsl(60, 70%, 30%)}
.tag.spec3 { background-color: hsl(90, 70%, 30%); border-color: hsl(90, 70%, 30%)}
.tag.spec4 { background-color: hsl(120, 70%, 30%); border-color: hsl(120, 70%, 30%)}
.tag.spec5 { background-color: hsl(150, 70%, 30%); border-color: hsl(150, 70%, 30%)}
.tag.spec6 { background-color: hsl(180, 70%, 30%); border-color: hsl(180, 70%, 30%)}
.tag.spec7, .tag.spec_undefined{ background-color: hsl(210, 70%, 30%); border-color: hsl(210, 70%, 30%)}
.tag.spec8 { background-color: hsl(230, 70%, 30%); border-color: hsl(230, 70%, 30%)}
.tag.spec9 { background-color: hsl(260, 70%, 30%); border-color: hsl(260, 70%, 30%)}
.tag.specA { background-color: hsl(290, 70%, 30%); border-color: hsl(290, 70%, 30%)}

/* PhotoSwipe */

img.zoomable {
	cursor: zoom-in;
}

/* generic project styling */

.scaleThis {
	position: absolute;
	transform-origin: top left;
	-ms-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	/* max-width: 250px; */
	/* box-sizing: content-box; */
}

img.bordered {
	border-left: 1px solid hsl(0, 0%, 75%);
}
