#masthead {
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsl(0, 0%, 20%);
	/* min-height: 3em; */
	width: 100%;
	z-index: 100;
	padding: 0;
	margin: 0;
	color: white;
}

#logo, #masthead h1, #masthead h2, #masthead p {
	position: relative;
	vertical-align: baseline;
	display: inline-block;
}

#logo, #headings, h1, h2 {
	font-weight: normal;
	font-family: "AGRW";
	line-height: 1;
	margin: 0;
	-webkit-font-smoothing: antialiased; /* seems to fix the 'over-bold' font rendering in Chrome */
}

#masthead .right {
	float:  right;
	/* the following will 'simulate' a baslien alignment with the logo and h1 */
	line-height: 2em;
	padding-top: 0.61em;
}

#headings {
	padding-left: 1em;
	display: inline-block;
}

/* #headings h1, #headings h2 {
	display: inline-block;
} */

#logo {
	font-size: 2em;
	padding: 0.61em 0.35em;
	background-color: rgb(247, 153, 16);
}

#masthead h1, #logo {
	font-size: 1.8em;
}

#masthead h1 {
	color: hsl(0, 0%, 90%);
}

#masthead h2 {
	font-size: 1.5em;
	color: hsl(0, 0%, 70%);
	padding-left: 0.4em;
}

#viewport {
	margin-top: 6em;
}

@media only screen and (max-width: 1460px) {
	#masthead {
		font-size: 0.8em;
	}
	
		#viewport {
		margin-top: 4.8em;
	}
}

@media only screen and (max-width: 768px) {
	#masthead {
		font-size: 0.69em;
	}
	
	#viewport {
		margin-top: 3.8em;
	}
}

@media only screen and (max-width: 515px) {
	
	#logo {
		float: left;
		padding-bottom: 1.4em;
	}
	
	#masthead h1 {
		padding-top: 0.6em;
		padding-bottom: 0.3em;
	}
	
	#masthead h2 {
		font-size: 1.3em;
		display: block;
		/* padding-bottom: 0.5em; */
		padding-left:  0;
	}
	
	#viewport {
		margin-top: 4.4em;
	}
}

/* intro section on home page */

@media only screen and (min-width: 1300px) {
	#intro.layout-wide {
		display :flex
	}
	#intro.layout-medium, #intro.layout-narrow {
		display: none;
	}
}

@media only screen and (min-width: 851px) and (max-width: 1299px) {
	#intro.layout-medium {
		display :flex
	}
	#intro.layout-narrow, #intro.layout-wide {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	#intro.layout-narrow {
		display :flex
	}
	#intro.layout-medium, #intro.layout-wide {
		display: none;
	}
}


#intro {
	margin: 5em 1em 2.5em 1em;
	color: hsl(0, 0%, 30%);
	line-height: 1.7;

	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

#intro > div {
	/* evenly distributed widths */
	flex-basis: 0;
	flex-grow: 1;
}

/* #intro .stack .leader {
	z-index: 100;
}
#intro .stack .body {
	z-index: 50;
}
#intro .stack .selected {
	z-index: 200;
}
#intro .stack .selected .leader {
	z-index: 250;
}
#intro .stack .selected .body {
	z-index: 200;
} */

#intro .stack .selected {
	z-index: 50;
}

#intro .block .leader {
	border: 1px solid hsl(0, 0%, 70%);
	border-bottom: none;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	padding: 0.2em 0.8em;
	position: relative;
	top: 1px;
	display: inline-block;
	background: url(/backgrounds/wavegrid_dark.png);
}

#intro .block .body {
	display: block;
	border: 1px solid hsl(0, 0%, 70%);
	border-bottom: none;
	border-right: none;
/* 	border-top-right-radius: 0.2em; */
	padding: 0.6em 0 0 0.8em;
	background: url(/backgrounds/wavegrid_dark.png);
}

#intro .block .body.row {
	display: table;
}

.body.row > * {
	display: table-cell;
	vertical-align: top;
}

#intro .switcher {
	position: relative;
	left: -0.35em
}

#intro > div + div {
	margin-left: 2em;
}

#intro .switcher {
	font-size: 85%
}

.stack {
	position: relative;
	width: 100%;
}

.stack > div {
	position: absolute;
	left: 0;
	top: 0;
}

.stack > div:first-child {
	position: relative;
}

.stack .leader {
	cursor: pointer;
}
.stack .leader:hover {
	text-decoration: underline;
}

/* following two rules ensure that body block always fill entire height of .block container */
#intro .stack .block {
	overflow: hidden;
	/* pointer-events: none; */
	height:  100%;
}
#intro .stack .block .body {
	height: 100%;
}

/* reposition tabs so that they don't overlap */
#intro.layout-medium .skillset .leader {
	position: relative;
	left: 7em
}

#intro.layout-narrow .stack .leader {
	position: relative;
}

#intro.layout-narrow .tagset .leader {
	left: 6em;
}

#intro.layout-narrow .skillset .leader {
	left: 13em;
}



.mugshot {
	width: 6em;
	border-radius: 3em;
	margin-right: 1em;
	/* 	position: relative;
	top: -0.5em; */
	height:  6em;
	margin-bottom: 1em;
}

@media only screen and (max-width: 515px) {
	#intro {
		font-size: 90%;
		margin-top: 7em;
	}

	.mugshot {
		width: 5em;
		height: 5em;
		border-radius: 2.5em;
	}
}
