#canvas {
	margin-top: 6em;
}

.project {
	margin-left: 4.5em;
	margin-right: 4.5em;
	margin-top: 3em;
	font-size: 85%;
}

.scaleThis {
	position: absolute;
	transform-origin: top left;
	-ms-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	/* max-width: 250px; */
	/* box-sizing: content-box; */
}

.text {
	padding-bottom: 3em;
	max-width: 30em;
}

.text .headline {
	margin-bottom: 0.9em;
}

.text .label {
	font-weight: bold;
}

.text .label:after {
	content: ', ';
	font-weight: normal;
}

.text .label:before {
	content: '↑ ';
	font-weight: normal;
	font-family: "AGRW";
	font-size: 120%
}

.horiz-layout .text .label:before {
	content: '← ';
}

.horiz-layout .visual {
	display: table-cell;
}

.horiz-layout .text {
	display: table-cell;
	padding-left: 2em;
}

.vert-layout .text {
	width: 60%;
	padding-top: 1em;
}

@media only screen and (max-width: 1460px) {
	.project {
		margin-left: 3.7em;
		margin-right: 3.7em;
	}
}

@media only screen and (max-width: 768px) {
	.project {
		margin-left: 3.2em;
		margin-right: 3.2em;
	}

	.vert-layout .text {
		width: 80%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 515px) {
	.project {
		margin-left: 2.75em;
		margin-right: 2.75em;
	}

	.vert-layout .text {
		width: 100%;
		max-width: 100%;
	}

}

.end-mark {
	font-family: AGRW;
	border: 0.15em solid #9E9E9E;
	margin-left: 0.5em;
	font-size: 80%;
	padding: 0.3em 0.2em;
	border-radius: 0.3em;
	color: #9E9E9E;
}

.end-mark a {
	text-decoration: none;
}

.end-mark a:hover {
	color: black;
}

.tags {
	margin-top: 1.5em;
	padding: 0.5em 0.8em;
	border: 0.1em solid #9E9E9E;
	border-radius: 0.3em;
	color: #666;
	font-size: 90%;
	/* white-space: nowrap; */
	/* overflow: hidden; */
}

