.masonry #windmill_datahost .scaleThis {
	padding: 40px
}

#tiled-area #windmill_trueSuite .scaleThis {
	padding: 20px
}

#tiled-area #longwell_press .scaleThis {
	padding: 120px 12px
}

#tiled-area #xko .scaleThis {
	padding: 40px 70px;
}

#tiled-area #mices_brand .scaleThis {
	padding: 75px;
}

#tiled-area #windmill_datahost .scaleThis {
	padding: 20px;
}

#tiled-area #longwell_press .scaleThis {
	padding: 25px;
}

#tiled-area #icc_brand .scaleThis {
	padding: 45px;
}

#tiled-area #ryzen_logo .scaleThis {
	padding: 60px 60px 40px 60px;
}

#tiled-area #jazzNo1 .scaleThis {
	padding: 30px 50px;
}

#tiled-area #welshdesign .text {
	border-top: none;
}



#swiss_cal table, #web_archive table {
	border-collapse: collapse;
}

#swiss_cal td {
	padding: 0 50px 50px 0;
}

#web_archive td {
	padding: 0 25px 17px 0;
}

#swiss_cal td:last-child, #web_archive td:last-child {
	padding-right: 0;
}

#swiss_cal tr:last-child td, #web_archive tr:last-child td {
	padding-bottom: 0;
}

#cent_ans.horiz-layout .text {
	padding-bottom: 125px;
}

#tada_merge {
	position: relative;
	top: -30px;
}

.tada_merge {
	position: absolute; left: 0;
	height: 320px;
}

#tada_merge2, #tada_merge3 {
	display: none; /* to start with */
}

#mices_rp img {
	display: block;
}

#mices_rp img.thumb {
	width: 235px;
}

#mices_rp table {
	border-collapse: collapse;
}

#mices_rp td {
	padding-right: 25px;
	padding-bottom: 25px;
}

#mices_rp td:last-child {
	padding-right: 0;
}

#mices_rp tr:last-child td {
	padding-bottom: 0;
}

#hallway_computer #Text {
	font-size: 90%
}