body {
	/* background-image: url(backgrounds/texture1-400.png); */
	/* background-image: url(backgrounds/squairy_light.png); */
	background-image: url(backgrounds/wavegrid_dark2.png);
	margin: 0;
	font: 14pt/22pt Helvetica, Arial, sans-serif;
}

a img { border: none; }

p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/* bigger font on tall displays (iPad portrait, for instance) */
@media 
(min-height: 1000px) 
{ 
	body { font-size: 18pt; }
}

/* bigger font on retina-style displays */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) 
{ 
	body { font-size: 30pt; }
}


.horzCentre {
	margin: 0 auto 0 auto;
}

.vertCentre {
	/* margin-top: 30px; */
}

#avatar {
}

#debug {
	visibility: hidden;
	position: fixed;
	top: 40px;
	right: 10px; 
	padding: 5px;
	border: 2px solid red;
	color: #600;
	z-index: 600;
}

@media (max-width: 500px)
{
	#debug {background-color: white}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) 
{ 
	#debug {background-color: yellow}
}

#symbolOriginals {
	display: none;
}

#titleBox, #intro {
	position: absolute;
	overflow: hidden;
	margin: 0;
	background-color: black;
	color: white;
	display: none ;
	z-index: 90;
	opacity: 0.8;
}

body.intro #intro {
	display: block; /* display the intro panel only if body.intro */
}

body.intro #dog {
	display: none;
}

#intro {
	width: 60%;
	/* height: 80%; */
	font-size: 90%;
	border-radius: 15px;
	-moz-border-radius: 15px;
	opacity: 1.0;
	padding: 11px 22px 22px 101px;
}

.starterLinks {
	margin: 2em 0;
}

.starterLinks .tagSwitcher {
	text-decoration: none;
	color: #FC6;
	float: left;
	padding: 2px;
	margin: 0 1.4em 0.4em 0;
	text-align: center;
	line-height: 200%;
}

.starterLinks .tagSwitcher.solidBg .thumbnailContainer {
	background-color: white;
}

#contactPopup {
	position: absolute;
	right: 0;
	opacity: 0.8;
}

#contactPopup .contents {
	color: white;
	background-color: black;
	fill: white;
	font-size: 80%;
	padding: 0.7em;
	border-radius: 0.5em;
	margin-right: 1em;
}

#introDog {
	position: absolute;
	top: 7px;
	left: 7px;
}

#titleBox {
	padding: 11px 16px 11px 95px;
	top: 35px; left: 35px;
	height: 64px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

.myName { font-size: 110%; font-weight: bold; }
.myTitle, .myContact { font-size: 80% }
.myContact a { color: white; text-decoration: none; opacity: 0.7 }
.myContact a:hover { opacity: 1; }

#titleBox .myContact {
	margin-top: 0.5em;
}

#intro .myContact { float: right; }
#intro .myTitle { float: left; }

#dog {
	position: absolute;
	top: 40px; left: 40px;
	z-index: 100;
	cursor: pointer;
}

/* larger logo on retina-style displays */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) 
{ 
	#dog img { zoom: 2.0; -moz-transform: scale(2.0); transform: scale(2.0) ; }
	#titleBox {
		top: 30px; left: 30px;
		padding: 22px 32px 22px 190px;
		height: 128px;
		border-radius: 22px;
		-moz-border-radius: 22px;
	}
}


#leftButton, #rightButton {
	position: absolute;
	cursor: pointer;
	z-index: 90;
	top: 40%; bottom: 40%;
	opacity: 0.7;

	background: black;
	border: 2px solid white;
	border-radius: 28px;
	-moz-border-radius: 28px;
	
	display: none;
}

#leftButton { left: 15px; /* padding-right: 30px */ }
#rightButton { right: 15px; /* padding-left: 30px */ }

#topBar {
	background: black;
	height: 2em;
	padding-left: 1em;
	/* overflow: hidden; */
	position: relative;
}

#contactIcons {
	position: absolute; 
	right: 0; top: 0; 
	fill: white; 
	height: 100%; 
	display: table;
	cursor: pointer;
}

.contactIcon {
	display: table-cell; 
	vertical-align: middle; 
	height: 100%;
	padding-right: 10px;
}

.contactIcon svg {
	height: 17px;
	width: 22px;
}

/* tags */
.spec0 { color: #A60F1F !important; fill: #A60F1F }
.spec1 { color: #FF7F1C !important; fill: #FF7F1C }
.spec2 { color: #FFDF0F !important; fill: #FFDF0F }
.spec3 { color: #6FFF00 !important; fill: #6FFF00 }
.spec4 { color: #00FFAF !important; fill: #00FFAF }
.spec5 { color: #00DFFF !important; fill: #00DFFF }
.spec6 { color: #3F6FFF !important; fill: #3F6FFF }
.spec7, .spec_undefined { color: #A05FFF !important; fill: #A05FFF }
.spec8 { color: #FF5FFF !important; fill: #FF5FFF }
.spec9 { color: #FF4F6F !important; fill: #FF4F6F }
.specA { color: #FF1F2C !important; fill: #FF1F2C }

#tagMenu {
	display: table;
	height: 100%;
}

#tagMenu .tagSwitcher {
	padding: 0 0.6em;
}

#tagMenu .tagSwitcher, .starterLinks .tagSwitcher {
	font-size: 80%;
}

.projectInfo .tags .tagSwitcher {
	font-size: 90%;
	padding-right: 0.6em;
}

.tags {
	position: relative;
}

.tags .commentsLink {
	float: right;
	font-weight: bold;
	padding-right: 0.5em;
	fill: white;
	cursor: pointer;
}

.tags .commentsLink:hover {
	color: white;
}

.tags .commentsLink .inlineSymbol {
	height: 1.2em;
	vertical-align: middle;
}

#tagMenu a {
	text-decoration: none;
}

.inlineSymbol {
	height: 0.8em;
	width: 2em;
	vertical-align: baseline;
}

.tagSwitcher {
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	text-decoration: none;
}

.tagSwitcher:hover {
	fill: #AAA;
	/* color: white !important; */
	background-color: #333 !important;
}

.tags a:hover {
	background-color: black;
}

.unselected {
	opacity: 0.7;
}


#thumbStrip {
	background: #555;
	height: 4em;
}

.thumbnailContainer {
	position: relative;
	overflow: hidden;
	/* border: 1px solid #C99; */
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.projectDiv .thumbnailContainer {
	position: absolute;
}

.thumbnail {
	position: relative;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform: 0 0;
}

#viewport {
	position: absolute;
	overflow: hidden;
	top: 2em;
	bottom: 0;
	left: 0;
	right: 0;
	/* border: 1px solid brown; */
	z-index: 10;
}

#viewport.moveDown {
	top: 6em;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 500px;/* so that when the first project is focussed it comes from the right */
	/* height: 100px; /* just while loading */
	bottom: 30px;
	overflow: hidden;
	/* border: 1px solid green; */
	width: 1000%;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.projectDiv {
	/* border: 1px solid orange; */
	float: left;
	height: 100%;
	margin-left: 15px;/* initial */
	margin-right: 15px;/* initial */
	width: 5%;
	overflow: hidden;
	text-align: center;
	position: relative;
	/* display: table; */
	padding: 0 15px;
}

.visual {
	cursor: pointer;
}

.projectDiv.showingInfo {
	/* cursor: url(zoom_in.png), auto; */
}

.projectDiv.showingComments {
	overflow-y: scroll;
}

.vertCentre {
	display: table;
	height: inherit;
}

.vertCentreContent {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
}

.projectVisual, .visual {
	height: 100%; /* will be adjusted when revealing/hiding info */
	position: relative;
	text-align: center;
}

.fixedLayoutContainer {
	position: relative;
}

.fixedLayoutContainer img {
	position: absolute;
}

.centered {
	position: absolute;
}

/* following hidden from IE8 and earlier */
@media only screen {
	.centered {
		left: 50%;
		top: 50%;
		/* transform: translate(-50%, -50%); */
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-moz-transform: translate(-50%, -50%);
		/* max-width: 100%; */
	}		
}

.rangeLeft {
	vertical-align: top;
	text-align: left;
}

table.topLeft td {
	text-align: left;
	vertical-align: top;
}

img.bordered { border: 1px solid #D0D0D0; }

img.bordered_bottom { border-bottom: 1px solid #D0D0D0; }

.caption {
	font-size: 75%;
	opacity: 0.6;
}

/* enlarge non-scaled items on retina-style displays */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) 
{ 
	.notScaled, #leftButton, #rightButton {
		zoom: 1.7;
	}

}

/* enlarge non-scaled items on tall displays */
@media 
(min-height: 1000px) 
{ 
	.notScaled, #leftButton, #rightButton {
		zoom: 1.3;
	}

}

.projectInfo {
	position: relative;
	top: 0;
	background: black;
	color: white;
	padding: 0.6em 0.6em 2em 0.6em;
	opacity: 0.75;
	font-size: 75%;
	text-align: left;
	margin-top: 1em;
}

.projectInfo .label {
	font-weight: bold;
}

.projectInfo .capsuleDesc, .projectInfo .externalLink, .projectInfo .tags {
	margin-top: 0.7em;
}

/*
.projectInfo .externalLink {
	padding-bottom: 1em;
}
*/

.projectInfo a {
	color: #AAA;
}

.projectInfo .externalLink a {
	color: #FF6600;
}

.name, .subtitle {
	font: 500 14pt Runda, Helvetica, Arial, sans-serif; /* "Helvetica neue", Helvetica; */
	text-align: center;
	opacity: 0.6;
}

.name {
	font: 500 28.5pt Runda, Helvetica, Arial, sans-serif; /* "Helvetica neue", Helvetica; */
	margin: 0;
}

#lhTab {
	position: absolute;
	left: 0;
	top: 76px;
	background: white;
	margin: 0; padding: 15px 5px;
	opacity: 0.8;
	border: 1px solid #AAA;
	border-style: solid solid solid none;
	-moz-box-shadow: 5px 5px 8px #999;
	-webkit-box-shadow: 5px 5px 8px #999;
	box-shadow: 5px 5px 8px #999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999');
}

.labelledIcon { width: 85px; display: block; text-decoration: none; }

.labelledIcon + .labelledIcon { margin-top: 20px; }

.labelledIcon .icon, .labelledIcon .label { text-align: center; }

.labelledIcon .icon { opacity: 0.6; }

.labelledIcon img { border: none; }

.labelledIcon .label { font-size: 70%; color: #930; }

iframe.projectComments {
	display: block;
	width: 100%;
	border: none;
	height: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
    height: 5px;
	width: 5px;
    }
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-corner {
    background: #000;
}
