body {
	margin: 1.5em;
}

input {
/* 	padding: 0.5em; */
	margin-right: 5px;
	margin-bottom: 10px;
}

input#updateButton {
	border: 2px solid gray;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: white;
	cursor: pointer;
}

#sourcePath {
	width: 90%;
}

#thumbnailContainer, #fullContainer, .thumbnailContainer {
	float: left;
	position: relative;
}

.thumbnailContainer {
	margin-right: 18px;
	margin-bottom: 18px;
/* 	border-radius:7px; */
	border: 1px solid #CCC;
}

#thumbnailContainer {
	margin-right: 3em;
	overflow: hidden;
}

#thumbnailContainer, #placeholder {
	border: 1px solid #C99;
	width: 80px;
	height: 80px;
}

#placeholder {
	position: absolute;
	top: 0;
	left: 0;
}

#result {
	background: black;
	color: #6C0;
	padding: 0.5em;
	font: 80% monospace;
}
